ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
  margin: auto 10px 10px 10px;
}

.nav-left {
  float: left;
  font-size: 1.2em;
}

.nav-right {
  float: right;
  font-size: 1.2em;
}

#sign-in {
    font-weight: bold;
    background-color: lightblue;
    padding: 7.5px;
    margin-top: auto;
}

#logo {
  display: flex;
  align-items: center;
  margin: auto;
  padding-top: 109px;
}

#search-box {
  margin: 0px auto 0px auto;
  padding-top: 6px;
  display: flex;
  align-items: center;
  border-radius: 15px;
  width: 484px;
}

#btn {
  display: flex;
  justify-content: center;
  padding: auto;
  border-radius: 10px;
}

#btn1 {
  margin: 20px;
  height: 40px;
}

#btn2 {
  margin: 20px;
}

.nav {
  padding: 8px;
}

footer {
  bottom: 0;
  width: 100%;
  position: fixed;
  background-color: #dddddd;
  padding-top: 20px;
}

html {
  font: sans-serif;
}
